{{define "getByIDTX"}}
    func (r *{{.GoName}}Repository) GetByIDTX(ctx context.Context, tx *sqlx.Tx, id int64) ({{.ModelType}}, error){
    builder := sq.Select(
    {{.ID.ConstName}},
    {{- with .Columns }}
        {{ range . }}
            {{- .ConstName}},
        {{ end }}
    {{- end }}
        {{- if .CreatedAt}}
            {{.CreatedAt.ConstName}},
        {{- end}}
        {{- if .UpdatedAt}}
            {{.UpdatedAt.ConstName}},
            {{- end}}

    ).
    From({{.ConstName}}).
    Where(sq.Eq{ {{.ID.ConstName}}: id}).
    PlaceholderFormat(sq.Dollar)
    query, args, err := builder.ToSql()
    if err != nil {
    return {{.ModelType}}{}, err
    }
    var result {{.ModelType}}
    if err := tx.GetContext(ctx, &result, query, args...); err != nil {
    return result, err
    }

    return result, nil
    }
{{end}}
